@import "../../styles/variables";

.menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    min-height: 100vh;
    width: 190px;
    background-color: $secondary;
    color: #fff;

}

.menu__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-left: 20px;

}



.menu__upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    button {
        margin-left: 20px;
    }

}

.menu__navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu__navigation_item {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    padding-left: 17px;
    cursor: pointer;
    border-left: 3px solid transparent;
    transition:background ease .5s;
    svg {
        fill: white;
    transition:fill ease .5s;

    }

    span {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
    transition:color ease .5s;

    }
    
    &--active{
       background:#fff;
       border-left: 3px solid $tertiary;
       span{
        color:$tertiary;
       } 
       svg{
        fill:$tertiary;
       }
    }
}



.menu__bottom {
    width: 100%;
    position: absolute;
    bottom: 16px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    img {
        padding-left: 20px;
    }
    .menu__navigation_item{
        margin-bottom: 10px;
    }

}

    

.menu__title{
    position: absolute;
    top:55px;
    left:190px;
    height: 46px;
    color:#000;
    margin-left: 40px;
    font-weight: 400;
font-size: 1.6rem;
line-height: 1.9rem;
display: flex;
justify-content: center;
align-items: center; 
gap:5px;
svg{cursor: pointer;}
}